<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">Checkout</h1>
        <div class="notification is-success is-light">
          <button class="delete"></button>
          Your order has been placed
        </div>
      </div>
    </div>
  </div>
</div>
