<div class="container">
  <h1 class="title">Books</h1>
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Author(s)</th>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= book.authors.map{ |author| author.name }.join(", ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
