<section class = "section">
  <div class="container">
    <div class="is-flex is-justify-content-space-between">
      <h1 class="title">Books</h1>
      <%= link_to categories_path, class: "button is-info" do %>
          View all categories
      <% end %>
    </div>
    <!-- Refactor book table -->
    <table class="table is-fullwidth">
      <%= render partial: 'layouts/components/book_thead' %>
      <tbody>
        <%= render partial: 'layouts/components/book_tbody', collection: @books, as: :book %>
      </tbody>
    </table>
    <%= paginate @books %>
  </div>
</section>
