<section class = "section">
  <div class="container">
    <div class="columns mt-1">
      <div class="column is-one-fifth">
        <%= render partial: "layouts/components/categories_side_bar" %>
      </div>
      <div class="column is-four-fifths">
        <div class="is-flex is-justify-content-space-between mb-5">
          <h1 class="title">Books</h1>
        </div>
        <div class="columns is-multiline">
          <%= render @books %>
        </div>
        <%= paginate @books %>
      </div>
    </div>
  </div>
</section>
