/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.book-card {
  border: 1px solid rgb(219, 218, 222);
  border-radius: 0.6rem !important;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.book-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 1px solid rgb(219, 218, 222);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.book-card .card-image {
  width: 100%;
  height: 18rem;
  overflow: hidden;
}

.book-title,
.book-authors {
  color: rgb(47, 47, 48);
  padding: 0;
}

.book-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.book-authors {
  font-size: 0.9rem;
  font-weight: 400;
}
