<h2 class="title has-text-info has-text-centered">Join us </h2>

  <div class="columns p-3">
    <div class="column is-one-fifth">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x pb-3 fa-regular fa-phone "></i>
      </div>
    </div>
    <div class="column">
        <p><%= @page.phone %></p>
    </div>
  </div>

    <div class="columns p-3">
    <div class="column is-one-fifth">
      <div class="icon is-medium has-text-info">
          <i class="fas fa-2x pb-3 fa-solid fa-envelope"></i>
      </div>
    </div>
    <div class="column">
      <p><%= @page.email %></p>
    </div>
  </div>


  <div class="columns p-3 ">
    <div class="column is-one-fifth">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x pb-3 fa-solid fa-clock"></i>
      </div>
    </div>
    <div class="column">
        <p>Monday-Saturday 9am - 8pm, <br>Sunday - closed</p>
    </div>
  </div>

  <div class="columns p-3">
    <div class="column is-one-fifth">
      <div class="icon is-medium has-text-info">
        <i class="fas fa-2x pb-3 fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="column">
      <p><%= @page.address %></p>
    </div>
  </div>

 <%# Social media links %>
  <div class="columns pl-6 pr-6 ">
    <div class ="column is-one-third  has-text-centered">
        <div class="icon is-medium has-text-info">
         <a href="https://twitter.com" target="_blank">
            <i class="fa-2x pb-3 fa-brands fa-twitter"></i>
          </a>
      </div>
    </div>

    <div class ="column is-one-third has-text-centered">
        <div class="icon is-medium has-text-info">
         <a href="https://facebook.com" target="_blank">
            <i class="fa-2x pb-3 fa-brands fa-facebook"></i>
          </a>
      </div>
    </div>

    <div class ="column is-one-third has-text-centered ">
        <div class="icon is-medium has-text-info">
          <a href="https://instagram.com" target="_blank">
            <i class="fa-2x pb-3 fa-brands fa-instagram"></i>
          </a>
      </div>
    </div>
  </div>
