<div class="columns pl-6 pr-6">
  <div class= "column box">
    <h2 class="title has-text-info has-text-centered">Find us</h2>
    <%= js_map [{latitude: 49.91054230146946,
                longitude: -97.13243727104535,
                label: "BookHub",
                tooltip: "915 Main St, Winnipeg, MB, R2W 3P2"}],
                controls: true,
                markers: {color: "#f84d4d"},
                zoom: 15,
                style: "mapbox://styles/mapbox/outdoors-v12" %>
  </div>
</div>