<div class="columns pl-6 pr-6">
  <div class= "column box">
    <h2 class="title has-text-info has-text-centered">Find us</h2>
    <%= js_map [{latitude: 49.91054230146946, longitude: -97.13243727104535}] %>
  </div>
</div>