<%= form_with(url: search_books_path, method: :get, local: true, class: "is-flex is-justify-content-flex-start") do %>
	<div class="field has-addons has-addons-right columns is-gapless">
	<p class="control column is-one-third">
		<span class="select">
			<%= select_tag :category_id,
				options_from_collection_for_select(
					Category.order(:name),
					:id,
					->(category) { category.name.gsub("_", " ").gsub("-", ",") },
					params[:category_id]), include_blank: "All categories", class: "select has-background-link-light" %>
		</span>
	</p>
	<p class="control column is-two-fifths">
		<%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search by title or description") %>
	</p>
	<p class="control">
		<%= button_tag(class: "button is-info") do %>
			<i class="fas fa-search"></i>
		<% end %>
	</p>
	</div>
<% end %>