<div class="container">
  <h1 class="title">Categories</h1>
  <table class="table is-fullwidth">
    <thead>
      <th>Name</th>
      <th class="has-text-right">Book count</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
			<%= link_to category.name, "/categories/#{category.name}" %>
		  </td>
          <td class="has-text-right">
			<%= category.book_count %>
		  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
