<div class="container">
  <%# Breadcrumb %>
  <nav class="breadcrumb mt-4 mb-8" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Books", books_path %></li>
      <li class="is-active"><a href="#" aria-current="page">Categories</a></li>
    </ul>
  </nav>

  <h1 class="title">Categories</h1>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th class="has-text-right">Book count</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
			<%= link_to category.name, "/categories/#{category.name}" %>
		  </td>
          <td class="has-text-right">
			<%= category.book_count %>
		  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
